## Filtering Generator Functions: built-in and itertools

In [2]:
def vowel(c):
    return c.lower() in 'aeiou'


list(filter(vowel, 'Aardvark'))

['A', 'a', 'a']

In [3]:
import itertools

list(itertools.filterfalse(vowel, 'Aardvark'))

['r', 'd', 'v', 'r', 'k']

In [4]:
list(itertools.dropwhile(vowel, 'Aardvark'))

['r', 'd', 'v', 'a', 'r', 'k']

In [5]:
list(itertools.takewhile(vowel, 'Aardvark'))

['A', 'a']

In [6]:
list(itertools.compress('Aardvark', (1, 0, 1, 1, 0, 1)))

['A', 'r', 'd', 'a']

In [7]:
list(itertools.islice('Aardvark', 4))

['A', 'a', 'r', 'd']

In [8]:
list(itertools.islice('Aardvark', 4, 7))

['v', 'a', 'r']

In [9]:
list(itertools.islice('Aardvark', 1, 7, 2))

['a', 'd', 'a']

## Mapping Generator Functions: Built-in and itertools

In [10]:
sample = [5, 4, 2, 8, 7, 6, 3, 0, 9, 1]
import itertools

list(itertools.accumulate(sample))  # 1

[5, 9, 11, 19, 26, 32, 35, 35, 44, 45]

In [11]:
list(itertools.accumulate(sample, min))  # 2

[5, 4, 2, 2, 2, 2, 2, 0, 0, 0]

In [12]:
list(itertools.accumulate(sample, max))  # 3

[5, 5, 5, 8, 8, 8, 8, 8, 9, 9]

In [13]:
import operator
list(itertools.accumulate(sample, operator.mul))  # 4

[5, 20, 40, 320, 2240, 13440, 40320, 0, 0, 0]

In [15]:
list(itertools.accumulate(range(1, 11), operator.mul))  # 5

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [16]:
list(enumerate('albatroz', 1))  # 1

[(1, 'a'),
 (2, 'l'),
 (3, 'b'),
 (4, 'a'),
 (5, 't'),
 (6, 'r'),
 (7, 'o'),
 (8, 'z')]

In [17]:
import operator
list(map(operator.mul, range(11), range(11)))  # 2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
list(map(operator.mul, range(11), [2, 4, 8]))  # 3

[0, 4, 16]

In [19]:
list(map(lambda a, b: (a, b), range(11), [2, 4, 8]))  # 4

[(0, 2), (1, 4), (2, 8)]

In [21]:
import itertools
list(itertools.starmap(operator.mul, enumerate('albatroz', 1))) # 5

['a', 'll', 'bbb', 'aaaa', 'ttttt', 'rrrrrr', 'ooooooo', 'zzzzzzzz']

In [22]:
sample = [5, 4, 2, 8, 7, 6, 3, 0, 9, 1]
list(itertools.starmap(lambda a, b: b / a, enumerate(itertools.accumulate(sample), 1)))  # 6

[5.0,
 4.5,
 3.6666666666666665,
 4.75,
 5.2,
 5.333333333333333,
 5.0,
 4.375,
 4.888888888888889,
 4.5]

## Generator Functions That Merge Multiple Input Iterables

In [23]:
import itertools
list(itertools.chain('ABC', range(2)))  # 1

['A', 'B', 'C', 0, 1]

In [24]:
list(itertools.chain(enumerate('ABC')))  #2

[(0, 'A'), (1, 'B'), (2, 'C')]

In [25]:
list(itertools.chain.from_iterable(enumerate('ABC')))  # 3

[0, 'A', 1, 'B', 2, 'C']

In [26]:
list(zip('ABC', range(5), [10, 20, 30, 40]))  # 4

[('A', 0, 10), ('B', 1, 20), ('C', 2, 30)]

In [27]:
list(itertools.zip_longest('ABC', range(5)))  # 5

[('A', 0), ('B', 1), ('C', 2), (None, 3), (None, 4)]

In [28]:
list(itertools.zip_longest('ABC', range(5), fillvalue='?'))  # 6

[('A', 0), ('B', 1), ('C', 2), ('?', 3), ('?', 4)]

---------------------------

In [29]:
list(itertools.product('ABC', range(2)))  # 1

[('A', 0), ('A', 1), ('B', 0), ('B', 1), ('C', 0), ('C', 1)]

In [30]:
suits = 'spades hearts diamonds clubs'.split()
list(itertools.product('AK', suits))  # 2

[('A', 'spades'),
 ('A', 'hearts'),
 ('A', 'diamonds'),
 ('A', 'clubs'),
 ('K', 'spades'),
 ('K', 'hearts'),
 ('K', 'diamonds'),
 ('K', 'clubs')]

In [31]:
list(itertools.product('ABC'))  # 3

[('A',), ('B',), ('C',)]

In [37]:
list(itertools.product('ABC', repeat=2))  # 4

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C')]

In [38]:
list(itertools.product(range(2), repeat=3))

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [39]:
rows = list(itertools.product('AB', range(2), repeat=2))
for row in rows: print(row)

('A', 0, 'A', 0)
('A', 0, 'A', 1)
('A', 0, 'B', 0)
('A', 0, 'B', 1)
('A', 1, 'A', 0)
('A', 1, 'A', 1)
('A', 1, 'B', 0)
('A', 1, 'B', 1)
('B', 0, 'A', 0)
('B', 0, 'A', 1)
('B', 0, 'B', 0)
('B', 0, 'B', 1)
('B', 1, 'A', 0)
('B', 1, 'A', 1)
('B', 1, 'B', 0)
('B', 1, 'B', 1)

## Generator Functions That Expand Each Input Item Into Multiple Output Items

In [40]:
import itertools
ct = itertools.count()  # 1
next(ct)  # 2

0

In [41]:
next(ct), next(ct), next(ct)  # 3

(1, 2, 3)

In [42]:
list(itertools.islice(itertools.count(1, .3), 3))  # 4

[1, 1.3, 1.6]

In [43]:
cy = itertools.cycle('ABC')  # 5
next(cy)

'A'

In [44]:
list(itertools.islice(cy, 7))  # 6

['B', 'C', 'A', 'B', 'C', 'A', 'B']

In [46]:
list(itertools.pairwise(range(7)))  # 7

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

In [47]:
rp = itertools.repeat(7)  # 8
next(rp), next(rp)

(7, 7)

In [48]:
list(itertools.repeat(8, 4))  # 9

[8, 8, 8, 8]

In [49]:
list(map(operator.mul, range(11), itertools.repeat(5)))  # 10

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

------------------

In [50]:
list(itertools.combinations('ABC', 2))  # 1

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [52]:
list(itertools.combinations_with_replacement('ABC', 2))  # 2

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [53]:
list(itertools.permutations('ABC', 2))  # 3

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [54]:
list(itertools.product('ABC', repeat=2))  # 4

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C')]

## Rearranging Generator Functions

In [55]:
import itertools
list(itertools.groupby('LLLLAAGGG'))  # 1

[('L', <itertools._grouper at 0x7f30a36a7be0>),
 ('A', <itertools._grouper at 0x7f30a36a5900>),
 ('G', <itertools._grouper at 0x7f30a36a7370>)]

In [56]:
for char, group in itertools.groupby('LLLLAAAGG'):  # 2
    print(char, '->', list(group))

L -> ['L', 'L', 'L', 'L']
A -> ['A', 'A', 'A']
G -> ['G', 'G']

In [58]:
animals = ['duck', 'eagle', 'rat', 'giraffe', 'bear', 'bat', 'dophin', 'shark', 'lion']
animals.sort(key=len)  # 3
animals

['rat', 'bat', 'duck', 'bear', 'lion', 'eagle', 'shark', 'dophin', 'giraffe']

In [59]:
for length, group in itertools.groupby(animals, len):  # 4
    print(length, '->', list(group))

3 -> ['rat', 'bat']
4 -> ['duck', 'bear', 'lion']
5 -> ['eagle', 'shark']
6 -> ['dophin']
7 -> ['giraffe']

In [60]:
for length, group in itertools.groupby(reversed(animals), len):  # 5
    print(length, '->', list(group))

7 -> ['giraffe']
6 -> ['dophin']
5 -> ['shark', 'eagle']
4 -> ['lion', 'bear', 'duck']
3 -> ['bat', 'rat']

In [61]:
list(itertools.tee('ABC'))

In [62]:
g1, g2 = itertools.tee('ABC')
next(g1)

'A'

In [63]:
next(g2)

'A'

In [64]:
next(g2)

'B'

In [65]:
list(g1)

['B', 'C']

In [66]:
list(g2)

['C']

In [70]:
list(zip(*itertools.tee('ABC', 4)))

[('A', 'A', 'A', 'A'), ('B', 'B', 'B', 'B'), ('C', 'C', 'C', 'C')]

## Iterable Reducing Functions

In [71]:
all([1, 2, 3])

True

In [72]:
all([1, 0, 3])

False

In [73]:
all([])

True

In [74]:
any([1, 2, 3])

True

In [75]:
any([1, 0, 3])

True

In [76]:
any([0, 0, 0])

False

In [77]:
any([])

False

In [79]:
g = (n for n in [0, 0.0, 7, 8])
any(g)  # 1

True

In [80]:
next(g)  # 2

8

## Subgenerators with yield from

In [82]:
# Before yield from

def sub_gen():
    yield 1.1
    yield 1.2

def gen():
    yield 1
    for i in sub_gen():
        yield i
    yield 2

for x in gen():
    print(x)

1
1.1
1.2
2

In [83]:
# With yield from

def sub_gen():
    yield 1.1
    yield 1.2

def gen():
    yield 1
    yield from sub_gen()
    yield 2

for x in gen():
    print(x)

1
1.1
1.2
2

In [84]:
# With a return value fo the subgenerator

def sub_gen():
    yield 1.1
    yield 1.2
    return 'Done!'

def gen():
    yield 1
    result = yield from sub_gen()
    print('<--', result)
    yield 2

for x in gen():
    print(x)

1
1.1
1.2
<-- Done!
2

### Reinventing chain

In [88]:
# def chain(*iterables):
#     for it in iterables:
#         for i in it:
#             yield i
def chain(*iterables):
    for i in iterables:
        yield from i

s = 'ABC'
r = range(3)
list(chain(s, r))

['A', 'B', 'C', 0, 1, 2]